Node-RED/sample2/03_for_and while.json
[{"id":"7a1c913a.85e37","type":"template","z":"0f93f9c16efab368","name":"i=0","field":"i","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","x":290,"y":560,"wires":[["4047b441.bfb84c"]]},{"id":"4047b441.bfb84c","type":"switch","z":"0f93f9c16efab368","name":"i<4","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":428,"y":560,"wires":[["43f621ff.bc09e"],["dcb4322f.234bd"]]},{"id":"2a1ad095.d5e53","type":"function","z":"0f93f9c16efab368","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["4047b441.bfb84c"]]},{"id":"44dbc2cb.bb243c","type":"debug","z":"0f93f9c16efab368","name":"終了","active":true,"console":"false","complete":"payload","x":775,"y":611,"wires":[]},{"id":"83af8aec.7c5078","type":"debug","z":"0f93f9c16efab368","name":"\"i回目\"を出力","active":true,"console":"false","complete":"payload","x":790,"y":560,"wires":[]},{"id":"822328ae.7ddcd8","type":"inject","z":"0f93f9c16efab368","name":"開始","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":171.89581298828125,"y":559.888916015625,"wires":[["7a1c913a.85e37"]]},{"id":"dcb4322f.234bd","type":"template","z":"0f93f9c16efab368","name":"ループ後の処理","field":"payload","format":"handlebars","template":"ループ終了","x":583.2380752563477,"y":610.8690176010132,"wires":[["44dbc2cb.bb243c"]]},{"id":"43f621ff.bc09e","type":"template","z":"0f93f9c16efab368","name":"文字列\"i回目\"を生成","field":"payload","format":"handlebars","template":"{{i}}回目","x":600,"y":560,"wires":[["83af8aec.7c5078","2a1ad095.d5e53"]]}]