Node-RED/sample2/04_if_and_swhitch.json
[{"id":"d6d19f0b17b7646d","type":"switch","z":"0f93f9c16efab368","name":"if","property":"i","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":320,"wires":[["2b692d833a9cbbbc"],["509cfb41012750d5"],["aecd69e5a104064d"]]},{"id":"25971812a1e92563","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"2b692d833a9cbbbc","type":"function","z":"0f93f9c16efab368","name":"処理１","func":"msg.payload=\"処理1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":280,"wires":[["25971812a1e92563"]]},{"id":"b83fbd1d0ce88e78","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":320,"wires":[]},{"id":"509cfb41012750d5","type":"function","z":"0f93f9c16efab368","name":"処理2","func":"msg.payload=\"処理2\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["b83fbd1d0ce88e78"]]},{"id":"81324d9fac22dfde","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"aecd69e5a104064d","type":"function","z":"0f93f9c16efab368","name":"その他","func":"msg.payload=\"その他\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":360,"wires":[["81324d9fac22dfde"]]},{"id":"304391dcec284dc6","type":"template","z":"0f93f9c16efab368","name":"iの初期値","field":"i","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","x":280,"y":320,"wires":[["d6d19f0b17b7646d"]]},{"id":"0782151e876efad6","type":"inject","z":"0f93f9c16efab368","name":"開始","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":130,"y":320,"wires":[["304391dcec284dc6"]]},{"id":"099e3e5571c1f82f","type":"inject","z":"0f93f9c16efab368","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":520,"wires":[["879350b6402bb999"]]},{"id":"879350b6402bb999","type":"switch","z":"0f93f9c16efab368","name":"Context based routing","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":740,"y":520,"wires":[["975e51df1abe8572"],["aa6f382cf236024f"],["3eb4bd85145d3795"]]},{"id":"975e51df1abe8572","type":"debug","z":"0f93f9c16efab368","name":"Output 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":940,"y":480,"wires":[]},{"id":"aa6f382cf236024f","type":"debug","z":"0f93f9c16efab368","name":"Output 2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":940,"y":520,"wires":[]},{"id":"3eb4bd85145d3795","type":"debug","z":"0f93f9c16efab368","name":"Output 3","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":940,"y":560,"wires":[]},{"id":"482baad9b33f909b","type":"inject","z":"0f93f9c16efab368","name":"Set state 0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":140,"y":460,"wires":[["5fe3d1223437d21d"]]},{"id":"08b8899ed6c35e2c","type":"inject","z":"0f93f9c16efab368","name":"Set state 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":140,"y":500,"wires":[["5fe3d1223437d21d"]]},{"id":"ea5486bdaa0c84dd","type":"inject","z":"0f93f9c16efab368","name":"Set state 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":140,"y":540,"wires":[["5fe3d1223437d21d"]]},{"id":"edd33e3f83c268f5","type":"inject","z":"0f93f9c16efab368","name":"Set state 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":140,"y":580,"wires":[["5fe3d1223437d21d"]]},{"id":"5fe3d1223437d21d","type":"change","z":"0f93f9c16efab368","name":"Set flow.state","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":520,"wires":[[]]}]