Node-RED/sample2/05_Array.json
[{"id":"ed6748ef4a838472","type":"join","z":"0f93f9c16efab368","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":880,"wires":[["ed2eedac56048044","accf57d448e57dd2"]]},{"id":"309229937cf159d9","type":"template","z":"0f93f9c16efab368","name":"変数1番目＝1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"1","output":"json","x":300,"y":820,"wires":[["ed6748ef4a838472"]]},{"id":"9adef13b3e831981","type":"inject","z":"0f93f9c16efab368","name":"開始","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":130,"y":880,"wires":[["309229937cf159d9","dc3759e23db7a11f","6f7b39c2b8cc84ff"]]},{"id":"dc3759e23db7a11f","type":"template","z":"0f93f9c16efab368","name":"変数2番目＝2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2","output":"json","x":300,"y":880,"wires":[["ed6748ef4a838472"]]},{"id":"6f7b39c2b8cc84ff","type":"template","z":"0f93f9c16efab368","name":"変数3番目＝3","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3","output":"json","x":300,"y":940,"wires":[["ed6748ef4a838472"]]},{"id":"ed2eedac56048044","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":820,"wires":[]},{"id":"3149f240.c0e25e","type":"inject","z":"0f93f9c16efab368","name":"配列","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1.11, 2.22, 3.33, 4.44, 5.55]","payloadType":"json","x":130,"y":1340,"wires":[["bd57baa6.00f998","d3754044b68bf328"]]},{"id":"bd57baa6.00f998","type":"split","z":"0f93f9c16efab368","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640,"y":1340,"wires":[["7ab9e9ed.d514b8","a9ded0e70e907bde"]]},{"id":"7ab9e9ed.d514b8","type":"range","z":"0f93f9c16efab368","minin":"0","maxin":"10","minout":"0","maxout":"10","action":"scale","round":true,"property":"payload","name":"Round value","x":830,"y":1340,"wires":[["f26660ab.007b3","8699eeed3ba571b3"]]},{"id":"f26660ab.007b3","type":"join","z":"0f93f9c16efab368","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1010,"y":1340,"wires":[["f9b5abac.f13828"]]},{"id":"f9b5abac.f13828","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1340,"wires":[]},{"id":"d3754044b68bf328","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1300,"wires":[]},{"id":"a9ded0e70e907bde","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1300,"wires":[]},{"id":"8699eeed3ba571b3","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1300,"wires":[]},{"id":"93b3684f3e59f39d","type":"inject","z":"0f93f9c16efab368","name":"配列","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1, 2, 3]","payloadType":"json","x":130,"y":1040,"wires":[["fcb3b408da133177","34a752c987d285c4"]]},{"id":"1174a1018a246012","type":"template","z":"0f93f9c16efab368","name":"配列","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"[1,2,3]","output":"json","x":270,"y":1160,"wires":[["60539d46bcf8253a","c07d111bae61aa23"]]},{"id":"f0330f3b8062880a","type":"inject","z":"0f93f9c16efab368","name":"開始","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":130,"y":1160,"wires":[["1174a1018a246012"]]},{"id":"fcb3b408da133177","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1000,"wires":[]},{"id":"b40f1474c16fb247","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"b7c962adb18b4058","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":880,"wires":[]},{"id":"34a752c987d285c4","type":"split","z":"0f93f9c16efab368","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":640,"y":1040,"wires":[["9e69b2ac5e5d6bf9"]]},{"id":"accf57d448e57dd2","type":"split","z":"0f93f9c16efab368","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":640,"y":880,"wires":[["b7c962adb18b4058"]]},{"id":"9e69b2ac5e5d6bf9","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1040,"wires":[]},{"id":"60539d46bcf8253a","type":"debug","z":"0f93f9c16efab368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1120,"wires":[]},{"id":"c07d111bae61aa23","type":"split","z":"0f93f9c16efab368","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":640,"y":1160,"wires":[["b40f1474c16fb247"]]}]