Node-RED/sample2/99_cookbook1.json
[
    {
        "id": "dfe2f03be3cd5d62",
        "type": "subflow",
        "name": "sampleflow_sub",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "343270c1af19bf9b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 80,
                "wires": [
                    {
                        "id": "df554f533f86a6af",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "df554f533f86a6af",
        "type": "change",
        "z": "dfe2f03be3cd5d62",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "c",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "343270c1af19bf9b",
        "type": "change",
        "z": "dfe2f03be3cd5d62",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "b",
                "pt": "msg",
                "to": "a",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "df554f533f86a6af"
            ]
        ]
    },
    {
        "id": "0f93f9c16efab368",
        "type": "tab",
        "label": "sampleflow_main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fe80569f0234c6e",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HelloWorld",
        "payloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9ca8a10628921d85"
            ]
        ]
    },
    {
        "id": "9ca8a10628921d85",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "d6d19f0b17b7646d",
        "type": "switch",
        "z": "0f93f9c16efab368",
        "name": "if",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "2b692d833a9cbbbc"
            ],
            [
                "509cfb41012750d5"
            ],
            [
                "aecd69e5a104064d"
            ]
        ]
    },
    {
        "id": "25971812a1e92563",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b692d833a9cbbbc",
        "type": "function",
        "z": "0f93f9c16efab368",
        "name": "処理１",
        "func": "msg.payload=\"処理1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "25971812a1e92563"
            ]
        ]
    },
    {
        "id": "b83fbd1d0ce88e78",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "509cfb41012750d5",
        "type": "function",
        "z": "0f93f9c16efab368",
        "name": "処理2",
        "func": "msg.payload=\"処理2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "b83fbd1d0ce88e78"
            ]
        ]
    },
    {
        "id": "81324d9fac22dfde",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "aecd69e5a104064d",
        "type": "function",
        "z": "0f93f9c16efab368",
        "name": "その他",
        "func": "msg.payload=\"その他\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 560,
        "wires": [
            [
                "81324d9fac22dfde"
            ]
        ]
    },
    {
        "id": "7a1c913a.85e37",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "i=0",
        "field": "i",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "4047b441.bfb84c"
            ]
        ]
    },
    {
        "id": "4047b441.bfb84c",
        "type": "switch",
        "z": "0f93f9c16efab368",
        "name": "i<4",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 408,
        "y": 1060,
        "wires": [
            [
                "43f621ff.bc09e"
            ],
            [
                "dcb4322f.234bd"
            ]
        ]
    },
    {
        "id": "2a1ad095.d5e53",
        "type": "function",
        "z": "0f93f9c16efab368",
        "name": "i++",
        "func": "msg.i++;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 980,
        "wires": [
            [
                "4047b441.bfb84c"
            ]
        ]
    },
    {
        "id": "44dbc2cb.bb243c",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "終了",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 755,
        "y": 1111,
        "wires": []
    },
    {
        "id": "83af8aec.7c5078",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "\"i回目\"を出力",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1060,
        "wires": []
    },
    {
        "id": "822328ae.7ddcd8",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "開始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "7a1c913a.85e37"
            ]
        ]
    },
    {
        "id": "dcb4322f.234bd",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "ループ後の処理",
        "field": "payload",
        "format": "handlebars",
        "template": "ループ終了",
        "x": 563.2380752563477,
        "y": 1110.8690176010132,
        "wires": [
            [
                "44dbc2cb.bb243c"
            ]
        ]
    },
    {
        "id": "43f621ff.bc09e",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "文字列\"i回目\"を生成",
        "field": "payload",
        "format": "handlebars",
        "template": "{{i}}回目",
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "83af8aec.7c5078",
                "2a1ad095.d5e53"
            ]
        ]
    },
    {
        "id": "4b6fd8b79d0cb20e",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "i=0",
        "field": "i",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "df71aba4e3728ee6"
            ]
        ]
    },
    {
        "id": "df71aba4e3728ee6",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "i",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "dc5f5d327dd1a45a",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "開始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4b6fd8b79d0cb20e"
            ]
        ]
    },
    {
        "id": "304391dcec284dc6",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "iの初期値",
        "field": "i",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "d6d19f0b17b7646d"
            ]
        ]
    },
    {
        "id": "0782151e876efad6",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "開始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "304391dcec284dc6"
            ]
        ]
    },
    {
        "id": "ed6748ef4a838472",
        "type": "join",
        "z": "0f93f9c16efab368",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "ed2eedac56048044",
                "accf57d448e57dd2"
            ]
        ]
    },
    {
        "id": "309229937cf159d9",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "変数1番目＝1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "1",
        "output": "json",
        "x": 300,
        "y": 1280,
        "wires": [
            [
                "ed6748ef4a838472"
            ]
        ]
    },
    {
        "id": "9adef13b3e831981",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "開始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "309229937cf159d9",
                "dc3759e23db7a11f",
                "6f7b39c2b8cc84ff"
            ]
        ]
    },
    {
        "id": "dc3759e23db7a11f",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "変数2番目＝2",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "2",
        "output": "json",
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "ed6748ef4a838472"
            ]
        ]
    },
    {
        "id": "6f7b39c2b8cc84ff",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "変数3番目＝3",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3",
        "output": "json",
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "ed6748ef4a838472"
            ]
        ]
    },
    {
        "id": "ed2eedac56048044",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3149f240.c0e25e",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "配列",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1.11, 2.22, 3.33, 4.44, 5.55]",
        "payloadType": "json",
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "bd57baa6.00f998",
                "d3754044b68bf328"
            ]
        ]
    },
    {
        "id": "bd57baa6.00f998",
        "type": "split",
        "z": "0f93f9c16efab368",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 640,
        "y": 1800,
        "wires": [
            [
                "7ab9e9ed.d514b8",
                "a9ded0e70e907bde"
            ]
        ]
    },
    {
        "id": "7ab9e9ed.d514b8",
        "type": "range",
        "z": "0f93f9c16efab368",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Round value",
        "x": 830,
        "y": 1800,
        "wires": [
            [
                "f26660ab.007b3",
                "8699eeed3ba571b3"
            ]
        ]
    },
    {
        "id": "f26660ab.007b3",
        "type": "join",
        "z": "0f93f9c16efab368",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1010,
        "y": 1800,
        "wires": [
            [
                "f9b5abac.f13828"
            ]
        ]
    },
    {
        "id": "f9b5abac.f13828",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1170,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d3754044b68bf328",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 1760,
        "wires": []
    },
    {
        "id": "a9ded0e70e907bde",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8699eeed3ba571b3",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1760,
        "wires": []
    },
    {
        "id": "93b3684f3e59f39d",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "配列",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1, 2, 3]",
        "payloadType": "json",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "fcb3b408da133177",
                "34a752c987d285c4"
            ]
        ]
    },
    {
        "id": "1174a1018a246012",
        "type": "template",
        "z": "0f93f9c16efab368",
        "name": "配列",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "[1,2,3]",
        "output": "json",
        "x": 270,
        "y": 1620,
        "wires": [
            [
                "60539d46bcf8253a",
                "c07d111bae61aa23"
            ]
        ]
    },
    {
        "id": "f0330f3b8062880a",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "開始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 1620,
        "wires": [
            [
                "1174a1018a246012"
            ]
        ]
    },
    {
        "id": "fcb3b408da133177",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b40f1474c16fb247",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1620,
        "wires": []
    },
    {
        "id": "094f752bed2aa1f4",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "HelloWorld",
        "info": "",
        "x": 60,
        "y": 20,
        "wires": []
    },
    {
        "id": "e9b76b6493b002e0",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "変数",
        "info": "",
        "x": 50,
        "y": 140,
        "wires": []
    },
    {
        "id": "565f199356cf3f0b",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "if文",
        "info": "",
        "x": 50,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4528fb0242556d3",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "for文",
        "info": "",
        "x": 50,
        "y": 980,
        "wires": []
    },
    {
        "id": "08411da4e33d0694",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "配列",
        "info": "",
        "x": 50,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b7c962adb18b4058",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1340,
        "wires": []
    },
    {
        "id": "34a752c987d285c4",
        "type": "split",
        "z": "0f93f9c16efab368",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 640,
        "y": 1500,
        "wires": [
            [
                "9e69b2ac5e5d6bf9"
            ]
        ]
    },
    {
        "id": "accf57d448e57dd2",
        "type": "split",
        "z": "0f93f9c16efab368",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 640,
        "y": 1340,
        "wires": [
            [
                "b7c962adb18b4058"
            ]
        ]
    },
    {
        "id": "9e69b2ac5e5d6bf9",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1500,
        "wires": []
    },
    {
        "id": "60539d46bcf8253a",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c07d111bae61aa23",
        "type": "split",
        "z": "0f93f9c16efab368",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 640,
        "y": 1620,
        "wires": [
            [
                "b40f1474c16fb247"
            ]
        ]
    },
    {
        "id": "099e3e5571c1f82f",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 720,
        "wires": [
            [
                "879350b6402bb999"
            ]
        ]
    },
    {
        "id": "879350b6402bb999",
        "type": "switch",
        "z": "0f93f9c16efab368",
        "name": "Context based routing",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "975e51df1abe8572"
            ],
            [
                "aa6f382cf236024f"
            ],
            [
                "3eb4bd85145d3795"
            ]
        ]
    },
    {
        "id": "975e51df1abe8572",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "Output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "aa6f382cf236024f",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 720,
        "wires": []
    },
    {
        "id": "3eb4bd85145d3795",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "Output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 760,
        "wires": []
    },
    {
        "id": "482baad9b33f909b",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "Set state 0",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "5fe3d1223437d21d"
            ]
        ]
    },
    {
        "id": "08b8899ed6c35e2c",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "Set state 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "5fe3d1223437d21d"
            ]
        ]
    },
    {
        "id": "ea5486bdaa0c84dd",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "Set state 2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "5fe3d1223437d21d"
            ]
        ]
    },
    {
        "id": "edd33e3f83c268f5",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "Set state 3",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "5fe3d1223437d21d"
            ]
        ]
    },
    {
        "id": "5fe3d1223437d21d",
        "type": "change",
        "z": "0f93f9c16efab368",
        "name": "Set flow.state",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3031fa0d90f23055",
        "type": "change",
        "z": "0f93f9c16efab368",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "i",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "0df00531b98dadd0"
            ]
        ]
    },
    {
        "id": "ae06c2961bccaf95",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3031fa0d90f23055"
            ]
        ]
    },
    {
        "id": "0df00531b98dadd0",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "i",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "c115d5460a30f34d",
        "type": "comment",
        "z": "0f93f9c16efab368",
        "name": "サブフロー",
        "info": "",
        "x": 60,
        "y": 1900,
        "wires": []
    },
    {
        "id": "cf488cbaf7670d4b",
        "type": "inject",
        "z": "0f93f9c16efab368",
        "name": "a=0",
        "props": [
            {
                "p": "a",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "f2126c5abf055670"
            ]
        ]
    },
    {
        "id": "7da99b756c88c56b",
        "type": "debug",
        "z": "0f93f9c16efab368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "c",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1980,
        "wires": []
    },
    {
        "id": "f2126c5abf055670",
        "type": "subflow:dfe2f03be3cd5d62",
        "z": "0f93f9c16efab368",
        "x": 300,
        "y": 1980,
        "wires": [
            [
                "7da99b756c88c56b"
            ]
        ]
    }
]