Node-RED/sample2/99_cookbook3.json
[
    {
        "id": "88b2bc02a92e7cc4",
        "type": "tab",
        "label": "クックブック",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d72dc4ce.89b368",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "78075f19.e0174"
            ]
        ]
    },
    {
        "id": "78075f19.e0174",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "78dc7c25.b90d54"
            ]
        ]
    },
    {
        "id": "78dc7c25.b90d54",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "91cd2fa9.e0a96",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "54ec03e4.5714bc"
            ]
        ]
    },
    {
        "id": "54ec03e4.5714bc",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "321900de.3cbea"
            ]
        ]
    },
    {
        "id": "321900de.3cbea",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "f75aa5b55596ed22",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "messageプロパティを削除",
        "info": "",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "12302880c13201c8",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "固定値をmesssageプロパティにセット",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "d11f7311.77c15",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Hello",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "13c01487.eb13cb"
            ]
        ]
    },
    {
        "id": "13c01487.eb13cb",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "89cc4fb1.9b208"
            ]
        ]
    },
    {
        "id": "89cc4fb1.9b208",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "5e63bcc0db0de260",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "messsageプロパティの移動",
        "info": "",
        "x": 220,
        "y": 300,
        "wires": []
    },
    {
        "id": "80dae67d.b4d8f8",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "81f13534.456348",
        "type": "range",
        "z": "88b2bc02a92e7cc4",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "e80b61d7.4b399"
            ]
        ]
    },
    {
        "id": "cb21de23.75a2f",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "512",
        "payloadType": "num",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "342552de.255a1e",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "e80b61d7.4b399",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "a70b9ccbd8bfd77c",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "異なる範囲の数値をマッピングする",
        "info": "",
        "x": 240,
        "y": 400,
        "wires": []
    },
    {
        "id": "1019e32b25f31e3f",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "メッセージ",
        "info": "",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "46ddd3a71f866823",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "フロー制御",
        "info": "",
        "x": 100,
        "y": 580,
        "wires": []
    },
    {
        "id": "cdfdb2e41526b58d",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "エラーハンドリング",
        "info": "",
        "x": 130,
        "y": 2380,
        "wires": []
    },
    {
        "id": "987712dfe886064d",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "データ形式の取り扱い",
        "info": "",
        "x": 140,
        "y": 2800,
        "wires": []
    },
    {
        "id": "c30590ae12c8db8d",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPエンドポイント",
        "info": "",
        "x": 1520,
        "y": 60,
        "wires": []
    },
    {
        "id": "d63a0d29a0446880",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPリクエスト",
        "info": "",
        "x": 1480,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f5a913b03bae01d7",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "MQTT",
        "info": "",
        "x": 1450,
        "y": 2440,
        "wires": []
    },
    {
        "id": "cc62b8f7326d3e9a",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "Node-RED起動の度にフローを実行",
        "info": "",
        "x": 240,
        "y": 620,
        "wires": []
    },
    {
        "id": "e60b12c1.93bb3",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "9b1d7727.56d0f8"
            ]
        ]
    },
    {
        "id": "9b1d7727.56d0f8",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "997fbefcab8d1b93",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "定期的にフローを実行",
        "info": "",
        "x": 200,
        "y": 720,
        "wires": []
    },
    {
        "id": "372cfc32.bcd244",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 760,
        "wires": [
            [
                "6c63c499.ce3adc"
            ]
        ]
    },
    {
        "id": "6c63c499.ce3adc",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "ee3f8b7124421dbb",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "指定の時間にフローを実行",
        "info": "",
        "x": 210,
        "y": 820,
        "wires": []
    },
    {
        "id": "24579bcb.5c9814",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "It is 4pm on a weekday!",
        "payloadType": "str",
        "x": 330,
        "y": 860,
        "wires": [
            [
                "145b508a.f3325f"
            ]
        ]
    },
    {
        "id": "145b508a.f3325f",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 860,
        "wires": []
    },
    {
        "id": "9f9a3c6ebda077cf",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "メッセージをプロパティによってルーティングする",
        "info": "",
        "x": 290,
        "y": 920,
        "wires": []
    },
    {
        "id": "3bc8e1d2.744abe",
        "type": "switch",
        "z": "88b2bc02a92e7cc4",
        "name": "Route ",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "907bf3b8.def45"
            ],
            [
                "fe425938.926838"
            ],
            [
                "ec261304.52f73"
            ]
        ]
    },
    {
        "id": "be3da36c.1c142",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "27",
        "payloadType": "num",
        "x": 320,
        "y": 960,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "f271ceef.172b3",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "45",
        "payloadType": "num",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "907bf3b8.def45",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 960,
        "wires": []
    },
    {
        "id": "fe425938.926838",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ec261304.52f73",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fca957dd.9d8078",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "1001",
        "payloadType": "num",
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "91c31a63aab03599",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "メッセージをコンテキストの値によってルーティングする",
        "info": "",
        "x": 310,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a62d8cdf.1bd82",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "b8bbbc41.f272"
            ]
        ]
    },
    {
        "id": "b8bbbc41.f272",
        "type": "switch",
        "z": "88b2bc02a92e7cc4",
        "name": "Context based routing",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 1160,
        "wires": [
            [
                "9aa9c6b2.18a8e8"
            ],
            [
                "6ba4ec46.476794"
            ],
            [
                "a2e806c8.ffa168"
            ]
        ]
    },
    {
        "id": "9aa9c6b2.18a8e8",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6ba4ec46.476794",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a2e806c8.ffa168",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8aabdb51.e8b538",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Set state 0",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 300,
        "y": 1240,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "d1722dee.48db4",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Set state 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 300,
        "y": 1280,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "4bdb08de.706328",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Set state 2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 300,
        "y": 1320,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "220ce0a6.cf81e",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Set state 3",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "e46083e4.1f17b",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Set flow.state",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "c4cd8286bfaff914",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "配列内の各要素に対して操作を実行",
        "info": "",
        "x": 240,
        "y": 1440,
        "wires": []
    },
    {
        "id": "abca6e071291dbf5",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Array of decimals",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1.67,2.98,3.12,4.99,5.50]",
        "payloadType": "json",
        "x": 320,
        "y": 1480,
        "wires": [
            [
                "4a22df8ccb442a2c"
            ]
        ]
    },
    {
        "id": "4a22df8ccb442a2c",
        "type": "split",
        "z": "88b2bc02a92e7cc4",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 520,
        "y": 1480,
        "wires": [
            [
                "e28c666a871e6a66"
            ]
        ]
    },
    {
        "id": "e28c666a871e6a66",
        "type": "range",
        "z": "88b2bc02a92e7cc4",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Round value",
        "x": 710,
        "y": 1480,
        "wires": [
            [
                "980a60a6ed441a97"
            ]
        ]
    },
    {
        "id": "980a60a6ed441a97",
        "type": "join",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 850,
        "y": 1480,
        "wires": [
            [
                "98d04903d84cbdde"
            ]
        ]
    },
    {
        "id": "98d04903d84cbdde",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ead7af2dcd91201e",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "設定した時間内でメッセージの受信がなければフローを実行",
        "info": "",
        "x": 320,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6ea53ad8.2362a4",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3da6946e.184a5c",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1580,
        "wires": [
            [
                "38caaff4.03f6d",
                "6ea53ad8.2362a4"
            ]
        ]
    },
    {
        "id": "38caaff4.03f6d",
        "type": "trigger",
        "z": "88b2bc02a92e7cc4",
        "name": "Watchdog",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 1620,
        "wires": [
            [
                "ae477709.016088"
            ]
        ]
    },
    {
        "id": "ae477709.016088",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1620,
        "wires": []
    },
    {
        "id": "359fd91b770ef914",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "ストリームの送信が止まった際にプレースホルダーメッセージを送信",
        "info": "",
        "x": 350,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9ccdf268.c96ff",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1720,
        "wires": [
            [
                "38950a5.28d15f6",
                "2c532f67.0330e"
            ]
        ]
    },
    {
        "id": "38950a5.28d15f6",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "2c532f67.0330e",
        "type": "trigger",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "op1": "reset",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 520,
        "y": 1760,
        "wires": [
            [
                "e4e42b96.97a338"
            ]
        ]
    },
    {
        "id": "e4e42b96.97a338",
        "type": "trigger",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "op1": "0",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 1760,
        "wires": [
            [
                "38950a5.28d15f6"
            ]
        ]
    },
    {
        "id": "2a785d4b4ec69257",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "メッセージの通過を遅らせる",
        "info": "",
        "x": 220,
        "y": 1820,
        "wires": []
    },
    {
        "id": "1fccc223.7ba87e",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Inject Array",
        "props": [
            {
                "p": "payload",
                "v": "[0,1,2,3,4,5,6,7,8,9]",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "x": 300,
        "y": 1860,
        "wires": [
            [
                "b2837466.e02a38"
            ]
        ]
    },
    {
        "id": "b2837466.e02a38",
        "type": "split",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 1860,
        "wires": [
            [
                "bd97c8ed.a5c8d8"
            ]
        ]
    },
    {
        "id": "bd97c8ed.a5c8d8",
        "type": "delay",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 710,
        "y": 1860,
        "wires": [
            [
                "bd66f03e.bdf0c"
            ]
        ]
    },
    {
        "id": "bd66f03e.bdf0c",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 1860,
        "wires": []
    },
    {
        "id": "4bb7004bd6e705c5",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "定期的にメッセージを処理",
        "info": "",
        "x": 210,
        "y": 1920,
        "wires": []
    },
    {
        "id": "8a1bcd7d.f6b67",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Inject Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "x": 300,
        "y": 1960,
        "wires": [
            [
                "bd4bdd42.bd1b"
            ]
        ]
    },
    {
        "id": "bd4bdd42.bd1b",
        "type": "delay",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 1960,
        "wires": [
            [
                "be20c513.237c78"
            ]
        ]
    },
    {
        "id": "be20c513.237c78",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 1960,
        "wires": []
    },
    {
        "id": "1c8afed7889ceb88",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "値が変わっていないメッセージの削除",
        "info": "",
        "x": 250,
        "y": 2020,
        "wires": []
    },
    {
        "id": "6079638d.df403c",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 290,
        "y": 2060,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "87129503.c7b358",
        "type": "rbe",
        "z": "88b2bc02a92e7cc4",
        "name": "report-by-exception",
        "func": "deadband",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 2080,
        "wires": [
            [
                "5e2ffc27.c61dd4"
            ]
        ]
    },
    {
        "id": "5e2ffc27.c61dd4",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1030,
        "y": 2080,
        "wires": []
    },
    {
        "id": "2dc49f96.3070c",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 290,
        "y": 2100,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "86b8b9fccc3ecdfe",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "複数のストリームメッセージから単一のメッセージへまとめる",
        "info": "",
        "x": 330,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8ccddb9a.a55f38",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "temperature",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "10",
        "payloadType": "num",
        "x": 310,
        "y": 2200,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "47b769c5.cb0e28",
        "type": "join",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 2240,
        "wires": [
            [
                "f9afb265.b11b7"
            ]
        ]
    },
    {
        "id": "f9afb265.b11b7",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 2240,
        "wires": []
    },
    {
        "id": "2d269127.4f04ce",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "humidity",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "",
        "payloadType": "num",
        "x": 300,
        "y": 2240,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "d6fbe805.0e4628",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "pressure",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "999",
        "payloadType": "num",
        "x": 300,
        "y": 2280,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "8dbd41cb8ff5235c",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "ノードがエラーをthrowした場合にフローを実行",
        "info": "",
        "x": 280,
        "y": 2420,
        "wires": []
    },
    {
        "id": "2bd6810d.e22ece",
        "type": "catch",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "scope": [
            "2c94a22c.91012e"
        ],
        "uncaught": false,
        "x": 290,
        "y": 2520,
        "wires": [
            [
                "d16b9fac.8212a"
            ]
        ]
    },
    {
        "id": "2c94a22c.91012e",
        "type": "function",
        "z": "88b2bc02a92e7cc4",
        "name": "Throw Error",
        "func": "node.error(\"an example error\", msg);   ",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "d16b9fac.8212a",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 760,
        "y": 2520,
        "wires": []
    },
    {
        "id": "c5ee9670.5dbbd8",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Trigger error",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 2460,
        "wires": [
            [
                "2c94a22c.91012e"
            ]
        ]
    },
    {
        "id": "e13e667905455a95",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "エラー発生後に自動的にリトライ",
        "info": "",
        "x": 230,
        "y": 2580,
        "wires": []
    },
    {
        "id": "27e61f12.c1a15",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 2620,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "d7d08440.31b678",
        "type": "function",
        "z": "88b2bc02a92e7cc4",
        "name": "Random error",
        "func": "// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n   node.error(\"a random error\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 2620,
        "wires": [
            [
                "f22b1e9a.5d89b"
            ]
        ]
    },
    {
        "id": "f22b1e9a.5d89b",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 2620,
        "wires": []
    },
    {
        "id": "2166290d.98d736",
        "type": "delay",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 520,
        "y": 2680,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "139b836e.7950ed",
        "type": "catch",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "scope": [
            "d7d08440.31b678"
        ],
        "uncaught": false,
        "x": 310,
        "y": 2680,
        "wires": [
            [
                "2166290d.98d736",
                "9c8ab214.0ecaa"
            ]
        ]
    },
    {
        "id": "9c8ab214.0ecaa",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "x": 520,
        "y": 2740,
        "wires": []
    },
    {
        "id": "47d99889abdf84d8",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "JSONの相互変換",
        "info": "",
        "x": 180,
        "y": 2840,
        "wires": []
    },
    {
        "id": "56fcad064502b4ac",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "XMLの相互変換",
        "info": "",
        "x": 180,
        "y": 2960,
        "wires": []
    },
    {
        "id": "f745bf3ce76136a0",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "YAMLの相互変換",
        "info": "",
        "x": 180,
        "y": 3080,
        "wires": []
    },
    {
        "id": "015133223a59a9c0",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "CSVを生成して出力",
        "info": "",
        "x": 190,
        "y": 3220,
        "wires": []
    },
    {
        "id": "3f5ed5cd659ccf4a",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "CSV入力を変換",
        "info": "",
        "x": 180,
        "y": 3360,
        "wires": []
    },
    {
        "id": "86696d1f2e1ccb89",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTMLページからデータを抽出",
        "info": "",
        "x": 230,
        "y": 3460,
        "wires": []
    },
    {
        "id": "d76d067ceb7fcfbf",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "テキストを1行1メッセージに分割",
        "info": "",
        "x": 240,
        "y": 3560,
        "wires": []
    },
    {
        "id": "634256b7.2d6818",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "JSON String",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 310,
        "y": 2880,
        "wires": [
            [
                "a2fe0fc8.095e1"
            ]
        ]
    },
    {
        "id": "a2fe0fc8.095e1",
        "type": "json",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 2880,
        "wires": [
            [
                "9a4ce2b8.47698"
            ]
        ]
    },
    {
        "id": "9a4ce2b8.47698",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2880,
        "wires": []
    },
    {
        "id": "80032e2.7c92cd",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Object",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "json",
        "x": 290,
        "y": 2920,
        "wires": [
            [
                "cd40a0f4.4f5ac"
            ]
        ]
    },
    {
        "id": "cd40a0f4.4f5ac",
        "type": "json",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 2920,
        "wires": [
            [
                "478b4106.4fd7c"
            ]
        ]
    },
    {
        "id": "478b4106.4fd7c",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 2920,
        "wires": []
    },
    {
        "id": "1b546d47.9474e3",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "XML String",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 300,
        "y": 3000,
        "wires": [
            [
                "d72b2bfd.77d068"
            ]
        ]
    },
    {
        "id": "1adf407d.6c4fe",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3000,
        "wires": []
    },
    {
        "id": "46638890.8ae758",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Object",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"note\":{\"$\":{\"priority\":\"high\"},\"to\":[\"Nick\"],\"from\":[\"Dave\"],\"heading\":[\"Reminder\"],\"body\":[\"Update the website\"]}}",
        "payloadType": "json",
        "x": 290,
        "y": 3040,
        "wires": [
            [
                "dae1d291.de0d2"
            ]
        ]
    },
    {
        "id": "6fefca67.3669e4",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3040,
        "wires": []
    },
    {
        "id": "d72b2bfd.77d068",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "<note priority=\"high\">\n  <to>Nick</to>\n  <from>Dave</from>\n  <heading>Reminder</heading>\n  <body>Update the website</body>\n</note>",
        "output": "str",
        "x": 520,
        "y": 3000,
        "wires": [
            [
                "1746464a.87aa4a"
            ]
        ]
    },
    {
        "id": "1746464a.87aa4a",
        "type": "xml",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 750,
        "y": 3000,
        "wires": [
            [
                "1adf407d.6c4fe"
            ]
        ]
    },
    {
        "id": "dae1d291.de0d2",
        "type": "xml",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 3040,
        "wires": [
            [
                "6fefca67.3669e4"
            ]
        ]
    },
    {
        "id": "f231967.0251a68",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "YAML String",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 310,
        "y": 3120,
        "wires": [
            [
                "a0110756.ecfa48"
            ]
        ]
    },
    {
        "id": "8f8f31b7.1f916",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3120,
        "wires": []
    },
    {
        "id": "5138ba3.c972444",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Object",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1, \"b\":[1,2,3]}",
        "payloadType": "json",
        "x": 290,
        "y": 3160,
        "wires": [
            [
                "2fa653cc.60d3dc"
            ]
        ]
    },
    {
        "id": "50f2f4c.4a6e60c",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3160,
        "wires": []
    },
    {
        "id": "a0110756.ecfa48",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "plain",
        "template": "a: 1\nb:\n  - 1\n  - 2\n  - 3",
        "output": "str",
        "x": 520,
        "y": 3120,
        "wires": [
            [
                "104b80e2.51068f"
            ]
        ]
    },
    {
        "id": "2fa653cc.60d3dc",
        "type": "yaml",
        "z": "88b2bc02a92e7cc4",
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 3160,
        "wires": [
            [
                "50f2f4c.4a6e60c"
            ]
        ]
    },
    {
        "id": "104b80e2.51068f",
        "type": "yaml",
        "z": "88b2bc02a92e7cc4",
        "property": "payload",
        "name": "",
        "x": 750,
        "y": 3120,
        "wires": [
            [
                "8f8f31b7.1f916"
            ]
        ]
    },
    {
        "id": "457d9ad6.b737b4",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "single",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 3260,
        "wires": [
            [
                "1e05fafd.887b05"
            ]
        ]
    },
    {
        "id": "1e05fafd.887b05",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Generate single payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 3260,
        "wires": [
            [
                "e9546682.b39898"
            ]
        ]
    },
    {
        "id": "e9546682.b39898",
        "type": "csv",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 750,
        "y": 3260,
        "wires": [
            [
                "f83ad3b0.78d32"
            ]
        ]
    },
    {
        "id": "f83ad3b0.78d32",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3260,
        "wires": []
    },
    {
        "id": "ae242f2c.d1c8a",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "array",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 3300,
        "wires": [
            [
                "7535f521.4a88bc"
            ]
        ]
    },
    {
        "id": "7535f521.4a88bc",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Generate array payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())},\t    { \"a\":$floor(100*$random()),\"b\":$floor(100*$random()),\"c\":$floor(100*$random())}\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 3300,
        "wires": [
            [
                "f4e0465f.ef0338"
            ]
        ]
    },
    {
        "id": "f4e0465f.ef0338",
        "type": "csv",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 750,
        "y": 3300,
        "wires": [
            [
                "6eb67fdf.58626"
            ]
        ]
    },
    {
        "id": "6eb67fdf.58626",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3300,
        "wires": []
    },
    {
        "id": "73e4e16.4d9742",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "Inject",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 3400,
        "wires": [
            [
                "2bef78fd.ae70f8"
            ]
        ]
    },
    {
        "id": "90ed51dc.dcc71",
        "type": "csv",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": false,
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "1",
        "x": 750,
        "y": 3400,
        "wires": [
            [
                "9aace6e7.adc538"
            ]
        ]
    },
    {
        "id": "9aace6e7.adc538",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 3400,
        "wires": []
    },
    {
        "id": "2bef78fd.ae70f8",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "CSV data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65",
        "output": "str",
        "x": 520,
        "y": 3400,
        "wires": [
            [
                "90ed51dc.dcc71"
            ]
        ]
    },
    {
        "id": "d88dd470.0ac7b8",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "make request",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 3500,
        "wires": [
            [
                "874a3d4e.9b666"
            ]
        ]
    },
    {
        "id": "874a3d4e.9b666",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://nodered.org",
        "tls": "",
        "x": 530,
        "y": 3500,
        "wires": [
            [
                "90243cc1.87edc"
            ]
        ]
    },
    {
        "id": "7403c68f.21d7c8",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1050,
        "y": 3500,
        "wires": []
    },
    {
        "id": "90243cc1.87edc",
        "type": "html",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 810,
        "y": 3500,
        "wires": [
            [
                "7403c68f.21d7c8"
            ]
        ]
    },
    {
        "id": "df6514f0.029748",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "inject",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 3600,
        "wires": [
            [
                "11f53f61.2f7be1"
            ]
        ]
    },
    {
        "id": "11f53f61.2f7be1",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "one\ntwo\nthree\nfour\nfive",
        "x": 520,
        "y": 3600,
        "wires": [
            [
                "760c1d71.c29744"
            ]
        ]
    },
    {
        "id": "760c1d71.c29744",
        "type": "split",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "splt": "\\n",
        "x": 750,
        "y": 3600,
        "wires": [
            [
                "3e427aac.9b9596"
            ]
        ]
    },
    {
        "id": "3e427aac.9b9596",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Prepend line number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(parts.index+1) & \": \" & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 3600,
        "wires": [
            [
                "d44d4767.945fd8"
            ]
        ]
    },
    {
        "id": "d44d4767.945fd8",
        "type": "join",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 1110,
        "y": 3600,
        "wires": [
            [
                "bfe3e43b.85fa88"
            ]
        ]
    },
    {
        "id": "bfe3e43b.85fa88",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 3600,
        "wires": []
    },
    {
        "id": "69097195f48982ef",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "シンプルなGETリクエスト",
        "info": "",
        "x": 1570,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d52142381308fc4a",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "リクエスト先URLをセット",
        "info": "",
        "x": 1570,
        "y": 1740,
        "wires": []
    },
    {
        "id": "270057e15119247a",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "リクエスト先URLにテンプレートを使用",
        "info": "",
        "x": 1620,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e9efbd7dc8040327",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "クエリストリングパラメータを設定",
        "info": "",
        "x": 1600,
        "y": 1940,
        "wires": []
    },
    {
        "id": "be016f5c594752d9",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "レスポンスをJSONにパース",
        "info": "",
        "x": 1580,
        "y": 2040,
        "wires": []
    },
    {
        "id": "1bb08dbb8cc10e64",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "バイナリレスポンスを得る",
        "info": "",
        "x": 1570,
        "y": 2140,
        "wires": []
    },
    {
        "id": "69f0f7ab67b55960",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "リクエストヘッダをセット",
        "info": "",
        "x": 1570,
        "y": 2240,
        "wires": []
    },
    {
        "id": "e8704e77af799cf5",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPエンドポイントを作成",
        "info": "",
        "x": 1600,
        "y": 100,
        "wires": []
    },
    {
        "id": "23041b31365da9e9",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPエンドポイントに渡されたクエリパラメータのハンドル",
        "info": "",
        "x": 1700,
        "y": 240,
        "wires": []
    },
    {
        "id": "bbb88380d3e4a4a4",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPエンドポイントのURLパラメータのハンドル",
        "info": "",
        "x": 1670,
        "y": 380,
        "wires": []
    },
    {
        "id": "8903f4a0b9188454",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "HTTPリクエストヘッダへアクセス",
        "info": "",
        "x": 1620,
        "y": 540,
        "wires": []
    },
    {
        "id": "76b9c25d27b2538e",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "他のフローで取得したデータの埋め込み",
        "info": "",
        "x": 1640,
        "y": 680,
        "wires": []
    },
    {
        "id": "c03a53fe67505831",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "JSONを返す",
        "info": "",
        "x": 1550,
        "y": 840,
        "wires": []
    },
    {
        "id": "c37ef11f667fc73b",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "ローカルファイルを返す",
        "info": "",
        "x": 1590,
        "y": 960,
        "wires": []
    },
    {
        "id": "1d6a955565656646",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "フローに生データをPOST",
        "info": "",
        "x": 1590,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f5a39897dbaf9352",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "フローにフォームデータをPOST",
        "info": "",
        "x": 1610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "31523024af5d2cc3",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "フローにJSONをPOST",
        "info": "",
        "x": 1580,
        "y": 1300,
        "wires": []
    },
    {
        "id": "91e48b83aeab5e7b",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "Cookieを使用",
        "info": "",
        "x": 1550,
        "y": 1420,
        "wires": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1620,
        "y": 140,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 140,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2730,
        "y": 140,
        "wires": []
    },
    {
        "id": "b34dd1af.4cb23",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 280,
        "wires": [
            [
                "b828f6a6.47d708"
            ]
        ]
    },
    {
        "id": "1052941d.efad6c",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1640,
        "y": 280,
        "wires": [
            [
                "b34dd1af.4cb23"
            ]
        ]
    },
    {
        "id": "b828f6a6.47d708",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce53954b.31ac68",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 420,
        "wires": []
    },
    {
        "id": "288a7c0.fd77584",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 420,
        "wires": [
            [
                "ce53954b.31ac68"
            ]
        ]
    },
    {
        "id": "7665c67d.899a38",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-param/:name",
        "method": "get",
        "swaggerDoc": "",
        "x": 1670,
        "y": 420,
        "wires": [
            [
                "288a7c0.fd77584"
            ]
        ]
    },
    {
        "id": "c1460268.3eba",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-headers",
        "method": "get",
        "swaggerDoc": "",
        "x": 1650,
        "y": 580,
        "wires": [
            [
                "24199456.dbe66c"
            ]
        ]
    },
    {
        "id": "24199456.dbe66c",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 580,
        "wires": [
            [
                "b3531892.4cace8"
            ]
        ]
    },
    {
        "id": "b3531892.4cace8",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 580,
        "wires": []
    },
    {
        "id": "92eaf6c0.6d1508",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1640,
        "y": 720,
        "wires": [
            [
                "8055b557.7faa48"
            ]
        ]
    },
    {
        "id": "8055b557.7faa48",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Store time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "93bf2335.6c40e",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-data",
        "method": "get",
        "swaggerDoc": "",
        "x": 1640,
        "y": 760,
        "wires": [
            [
                "9e3aa25e.61c56"
            ]
        ]
    },
    {
        "id": "9e3aa25e.61c56",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Copy time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "timestamp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 760,
        "wires": [
            [
                "f2c385a.f0d3c78"
            ]
        ]
    },
    {
        "id": "f2c385a.f0d3c78",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 760,
        "wires": [
            [
                "def756a1.2108a8"
            ]
        ]
    },
    {
        "id": "def756a1.2108a8",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 760,
        "wires": []
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-json",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1640,
        "y": 880,
        "wires": [
            [
                "4e8237da.b17dc8"
            ]
        ]
    },
    {
        "id": "4e8237da.b17dc8",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 1890,
        "y": 880,
        "wires": [
            [
                "65401623.9abfe8"
            ]
        ]
    },
    {
        "id": "65401623.9abfe8",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2450,
        "y": 880,
        "wires": [
            [
                "f7d3e35a.082c2"
            ]
        ]
    },
    {
        "id": "f7d3e35a.082c2",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 880,
        "wires": []
    },
    {
        "id": "3e1c5107.c1e3ae",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-raw",
        "method": "post",
        "swaggerDoc": "",
        "x": 1640,
        "y": 1100,
        "wires": [
            [
                "cf679478.309868"
            ]
        ]
    },
    {
        "id": "cf679478.309868",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 1100,
        "wires": [
            [
                "f3c1a3f0.0c3e6"
            ]
        ]
    },
    {
        "id": "f3c1a3f0.0c3e6",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5b98a8ac.a46758",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-form",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1640,
        "y": 1220,
        "wires": [
            [
                "bba61009.4459f"
            ]
        ]
    },
    {
        "id": "bba61009.4459f",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 1220,
        "wires": [
            [
                "6ceb930a.93146c"
            ]
        ]
    },
    {
        "id": "6ceb930a.93146c",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3cab06e8e506e842",
        "type": "http in",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "url": "/hello-form",
        "method": "post",
        "swaggerDoc": "",
        "x": 1640,
        "y": 1340,
        "wires": [
            [
                "82bb80ad78cf3de4"
            ]
        ]
    },
    {
        "id": "82bb80ad78cf3de4",
        "type": "template",
        "z": "88b2bc02a92e7cc4",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 2430,
        "y": 1340,
        "wires": [
            [
                "4015c2f3166d3568"
            ]
        ]
    },
    {
        "id": "4015c2f3166d3568",
        "type": "http response",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "x": 2730,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8e01a1a677eb53ee",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "make request",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1630,
        "y": 1680,
        "wires": [
            [
                "565d8e67528de391"
            ]
        ]
    },
    {
        "id": "565d8e67528de391",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered.org",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2110,
        "y": 1680,
        "wires": [
            [
                "3c475a9677017d96"
            ]
        ]
    },
    {
        "id": "499492a4b927e7f1",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2650,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3c475a9677017d96",
        "type": "html",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "property": "",
        "outproperty": "",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 2371.5,
        "y": 1680,
        "wires": [
            [
                "499492a4b927e7f1"
            ]
        ]
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 2110,
        "y": 1780,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "11167f67.5d5031",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "cars on craigslist",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "https://nodered.org",
        "payloadType": "str",
        "x": 1640,
        "y": 1780,
        "wires": [
            [
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "70154cd4.de1444",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1780,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2650,
        "y": 1780,
        "wires": []
    },
    {
        "id": "41747a17.54ffd4",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2110,
        "y": 1880,
        "wires": [
            [
                "d682318c.36823"
            ]
        ]
    },
    {
        "id": "d682318c.36823",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2650,
        "y": 1880,
        "wires": []
    },
    {
        "id": "90bfea22.dd2b98",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "post id",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 1610,
        "y": 1880,
        "wires": [
            [
                "e67a0cc.596d4f"
            ]
        ]
    },
    {
        "id": "e67a0cc.596d4f",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1880,
        "wires": [
            [
                "41747a17.54ffd4"
            ]
        ]
    },
    {
        "id": "e95c6faa.ab2e1",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2110,
        "y": 1980,
        "wires": [
            [
                "7cf30700.5bc978"
            ]
        ]
    },
    {
        "id": "7cf30700.5bc978",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2650,
        "y": 1980,
        "wires": []
    },
    {
        "id": "637d3c55.eb3084",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "query parameter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")",
        "payloadType": "str",
        "x": 1640,
        "y": 1980,
        "wires": [
            [
                "b001d489.d8f818"
            ]
        ]
    },
    {
        "id": "b001d489.d8f818",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 1980,
        "wires": [
            [
                "e95c6faa.ab2e1"
            ]
        ]
    },
    {
        "id": "14c60a10.794df6",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2110,
        "y": 2080,
        "wires": [
            [
                "b4ea8dd4.61a05"
            ]
        ]
    },
    {
        "id": "b4ea8dd4.61a05",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.title",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2670,
        "y": 2080,
        "wires": []
    },
    {
        "id": "3479192a.04f016",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "post id",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 1610,
        "y": 2080,
        "wires": [
            [
                "e69250cf.368fd"
            ]
        ]
    },
    {
        "id": "e69250cf.368fd",
        "type": "change",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 2080,
        "wires": [
            [
                "14c60a10.794df6"
            ]
        ]
    },
    {
        "id": "871ee927.0d69c8",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1640,
        "y": 2180,
        "wires": [
            [
                "8ea4e52a.03d678"
            ]
        ]
    },
    {
        "id": "8ea4e52a.03d678",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "binary http request",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/binary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2130,
        "y": 2180,
        "wires": [
            [
                "70309d0c.4dc504"
            ]
        ]
    },
    {
        "id": "70309d0c.4dc504",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2650,
        "y": 2180,
        "wires": []
    },
    {
        "id": "92272f91.20a43",
        "type": "inject",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1640,
        "y": 2280,
        "wires": [
            [
                "af92df2f.3032e"
            ]
        ]
    },
    {
        "id": "64da113d.24a75",
        "type": "http request",
        "z": "88b2bc02a92e7cc4",
        "name": "post to FRED",
        "method": "POST",
        "ret": "txt",
        "url": "http://mike.fred.sensetecnic.com/api/test",
        "tls": "",
        "x": 2120,
        "y": 2280,
        "wires": [
            [
                "31ab53be.5111dc"
            ]
        ]
    },
    {
        "id": "af92df2f.3032e",
        "type": "function",
        "z": "88b2bc02a92e7cc4",
        "name": "set payload and headers",
        "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1890,
        "y": 2280,
        "wires": [
            [
                "64da113d.24a75"
            ]
        ]
    },
    {
        "id": "31ab53be.5111dc",
        "type": "debug",
        "z": "88b2bc02a92e7cc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2650,
        "y": 2280,
        "wires": []
    },
    {
        "id": "fde271598e5f7975",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "未インポート",
        "info": "",
        "x": 1630,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3670d42d9bb2e796",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "未インポート",
        "info": "",
        "x": 1630,
        "y": 1000,
        "wires": []
    },
    {
        "id": "aed82a718007738f",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "未インポート",
        "info": "",
        "x": 1610,
        "y": 2480,
        "wires": []
    },
    {
        "id": "df248bc40da675b8",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello",
        "info": "",
        "x": 1690,
        "y": 180,
        "wires": []
    },
    {
        "id": "d62b6f87e66d185d",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-query?name=Nick",
        "info": "",
        "x": 1750,
        "y": 320,
        "wires": []
    },
    {
        "id": "529c85694ade91ec",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-param/Nick",
        "info": "",
        "x": 1730,
        "y": 460,
        "wires": []
    },
    {
        "id": "afbde9364a26de64",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-param/Dave",
        "info": "",
        "x": 1730,
        "y": 500,
        "wires": []
    },
    {
        "id": "b15c592130d572f2",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-headers",
        "info": "",
        "x": 1720,
        "y": 620,
        "wires": []
    },
    {
        "id": "74c4a4393ccfc85d",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-data",
        "info": "",
        "x": 1700,
        "y": 800,
        "wires": []
    },
    {
        "id": "6f16aea7046740a0",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-json",
        "info": "",
        "x": 1700,
        "y": 920,
        "wires": []
    },
    {
        "id": "7e41cef0ce76dafa",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-form",
        "info": "",
        "x": 1700,
        "y": 1380,
        "wires": []
    },
    {
        "id": "840c9fa57da71fab",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-raw",
        "info": "",
        "x": 1700,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c2760c21d5991667",
        "type": "comment",
        "z": "88b2bc02a92e7cc4",
        "name": "$ curl  http://localhost:1880/hello-form",
        "info": "",
        "x": 1700,
        "y": 1260,
        "wires": []
    }
]